<button mat-icon-button aria-label="Theme" [matMenuTriggerFor]="themeMenu">
  <mat-icon>format_color_fill</mat-icon>
</button>

<mat-menu #themeMenu="matMenu">
  <button mat-menu-item data-action="theme.default" (click)="svc.setTheme('default')">
    <span class="lib-theme-preview lib-theme-preview-default"></span>
    <span>Default</span>
  </button>
  <button mat-menu-item data-action="theme.orange" (click)="svc.setTheme('orange')">
    <span class="lib-theme-preview lib-theme-preview-orange"></span>
    <span>Orange</span>
  </button>
  <button mat-menu-item data-action="theme.purple" (click)="svc.setTheme('purple')">
    <span class="lib-theme-preview lib-theme-preview-purple"></span>
    <span>Purple</span>
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item data-action="theme.toggle-dark" (click)="svc.toggleDark()">
    <mat-icon>{{ svc.isDark() ? 'light_mode' : 'dark_mode' }}</mat-icon>
    <span>{{ svc.isDark() ? 'Light Mode' : 'Dark Mode' }}</span>
  </button>
</mat-menu>
