{
  "LIBRARY_URL": "${LIBRARY_URL}",
  "OTEL_COLLECTOR_ENDPOINT": "${OTEL_COLLECTOR_ENDPOINT}",
  "TELEMETRY": {
    "HTTP_CAPTURE_DETAILS": ${TELEMETRY_HTTP_CAPTURE_DETAILS},
    "HTTP_MAX_ATTRIBUTE_LENGTH": ${TELEMETRY_HTTP_MAX_ATTRIBUTE_LENGTH},
    "HTTP_RESPONSE_BODY_MAX_LENGTH": ${TELEMETRY_HTTP_RESPONSE_BODY_MAX_LENGTH}
  },
  "SECURITY": {
    "SECURE_API_KEYS": ["LIBRARY_URL"]
  },
  "IDP": {
    "ISSUER": "${IDP_ISSUER}",
    "CLIENT_ID": "${IDP_CLIENT_ID}",
    "REDIRECT_URI": "${IDP_REDIRECT_URI}",
    "RESPONSE_TYPE": "${IDP_RESPONSE_TYPE}",
    "SCOPE": "${IDP_SCOPE}",
    "POST_LOGOUT_REDIRECT_URI": "${IDP_POST_LOGOUT_REDIRECT_URI}",
    "STRICT_DISCOVERY_DOCUMENT_VALIDATION": ${IDP_STRICT_DISCOVERY_DOCUMENT_VALIDATION},
    "SHOW_DEBUG_INFORMATION": ${IDP_SHOW_DEBUG_INFORMATION},
    "REQUIRE_HTTPS": ${IDP_REQUIRE_HTTPS}
  }
}
